.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    text-decoration: none;
    width: 8rem;
    height: 4rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10rem;
    background-color: #e33d33;
    transition: 0.5s;
}

.btn:hover {
    background-color: #333;
}